################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/SwipeVibe.BusinessLogic/.vs
/SwipeVibe.BusinessLogic/bin/Debug
/SwipeVibe.Domain/.vs
/SwipeVibe.Domain/bin/Debug
/SwipeVibe.Helpers/bin/Debug
/SwipeVibe.Helpers/obj/Debug
/SwipeVibe.Web/.vs
/SwipeVibe.Web/bin
/SwipeVibe.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SwipeVibe.BusinessLogic/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SwipeVibe.BusinessLogic/obj/Debug/SwipeVibe.BusinessLogic.csproj.AssemblyReference.cache
/SwipeVibe.Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SwipeVibe.Domain/obj/Debug/SwipeVibe.Domain.csproj.AssemblyReference.cache
/SwipeVibe.Web/obj/Debug/SwipeVibe.Web.csproj.AssemblyReference.cache
