################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SwipeVibe.Web/.vs/SwipeVibe.Web/FileContentIndex
