
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-container">
    <h2>О SwipeVibe</h2>

    <div class="about-content">
        <p>@ViewBag.Message</p>

        <p>
            SwipeVibe - это инновационная платформа для обмена видео и стримов, созданная с целью объединить
            людей со всего мира через визуальный контент. Наша миссия - предоставить простой и удобный способ
            делиться своими идеями, творчеством и моментами жизни с аудиторией.
        </p>

        <p>
            Мы стремимся создать сообщество, где каждый может найти контент по своим интересам и
            поделиться собственным видением с миром. SwipeVibe - это место, где талант встречается
            с признанием, а творчество находит свою аудиторию.
        </p>
    </div>

    <div class="team-section">
        <h3>Наша команда</h3>

        <div class="team-grid">
            <div class="team-member">
                <img src="~/Content/assets/images/avatar1.jpg" alt="Член команды 1" />
                <h4>Имя Фамилия</h4>
                <p>Должность</p>
            </div>
            <div class="team-member">
                <img src="~/Content/assets/images/avatar2.jpg" alt="Член команды 2" />
                <h4>Имя Фамилия</h4>
                <p>Должность</p>
            </div>
            <div class="team-member">
                <img src="~/Content/assets/images/avatar3.jpg" alt="Член команды 3" />
                <h4>Имя Фамилия</h4>
                <p>Должность</p>
            </div>
        </div>
    </div>
</div>

